* {
    box-sizing: border-box;
}

nav {
    background: #333333;
    color: #847477;
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, serif;
    display: inline-block;
    padding: 1em;
}
nav a:hover {
    background: blue;
}

nav ul li:nth-child(4) {
    margin-left: auto;
}
body {
    margin: 0;
    font-family: Roboto;
    background: whitesmoke;
    min-height: 100vh;
}
.list-left {
    display: flex;
    margin: 0 auto;
    justify-self: start;
    color: white;
}
.center-logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: white;
    font-grow: center;

}

.list-right {
    display: flex;
    margin: 0 auto;
    justify-self: end;
    color: white;
}


