"use strict";

.fancy-header {
    color: purple;
    text-decoration: underline;
}



/*
.fancy-header {
    color: blue;
    text-decoration: underline;
}
body {
    background-image: url("../img/paper-texture_background.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    color: red;
}*/
