* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    justify-content: space-evenly;
}

#map {
padding: 15px 15px;
    width: 85%;
    height: 500px;
}

/*!*MAP STYLING*!
#map {
    height: 75%;
    width: 75%;
    border: 1px solid #cbbcb1;
    box-shadow: .1em .1em 1em rgba(203,188,177, 1);
}*/


.card {
    display: flex;
    flex-wrap: wrap;
/*    col-4*/
/*justify-content: space-evenly;*/
}

#locationName {
    width: 50%
}

.navbar navbar-expand-lg navbar-dark bg-dark {
    width: 100%;
}

.card-img-top {
    width: 5rem;
    height: auto;
}

.list-group list-group-flush {

/*    padding: 15px 15px;
    width: 5rem;
    height: 5rem;
    padding-bottom: 15px;*/
}

.weather-logo{
    width: 10rem;
    height:10rem;
}

.cardTypeThing {
    height: 20%
}